<aside class="col-md-3">
  <!--   SIDEBAR   -->
  <ul class="list-group">
    <a class="list-group-item {% if '/accounts/' == request.path %}active{% endif %} bg-success" href="{% url 'dashboard' %}"> Dashboard </a>
    <a class="list-group-item {% if '/my_orders/' in request.path %}active{% endif %} bg-success" href="{% url 'my_orders' %}"  style="color: #f8fffa"> Mis ordenes </a>
    <a class="list-group-item {% if '/edit_profile/' in request.path %}active{% endif %} bg-success" href="{% url 'edit_profile' %}"  style="color: #f8fffa"> Editar perfil </a>
    <a class="list-group-item {% if '/change_password/' in request.path %}active{% endif %} bg-success" href="{% url 'change_password' %}"  style="color: #f8fffa"> Cambiar la contraseña </a>
  </ul>
  <br>
  <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Cerrar sesión</span> </a>
  <!--   SIDEBAR .//END   -->
</aside>
